* {
    padding:0px;
    margin:0px;
}

body {
    background-color: #ffff;
    font-family: 'Balsamiq Sans', 'cursive';
}

.top {
    background-color: #9FC5F8;
    height: 75px;
    color: #fff;
}

.nav-container {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
}

#city{
    margin-left: 90px;
}

.sub-heading{
    width: 840px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 4px solid black;
}

.sub-heading h2{
    margin-right: 310px ;
}

.degrees select{
    border: 3px solid black;
    font-weight: bolder;
}

.weathermain{
    height: auto;
    width: 55%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.today, .tomorrow, .friday, .saturday{
    height: 250px;
    width: 175px;
    background-color: #EEEEEE;
    padding:10px;
    text-align: center;
}

.today img, .tomorrow img, .friday img, .saturday img{
    margin-top: 10px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
}

.today h4, .tomorrow h4, .friday h4, .saturday h4{
    margin-top: 10px;
}

.lowhigh{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

h3.todayhigh{
    color: #CF2A27;
}

h3.todaylow{
    color: #4487E5 ; 
}

.cookie{
    border: 3px solid black;
    height: auto;
    width:840px; 
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 340px;
    left: 345px;
}

.cookie h4{
    margin: 0px auto;
}

.cookie img{
    margin:10px;
}
.cookie button{
    border: 2px solid black;
    font-family: 'Balsamiq Sans', 'cursive';
    font-weight: bolder;
    width: 100px;
    height: auto;
    margin: 8px;
    background-color: #9FC5F8;
    box-shadow: 2px 2px 2px 0px;
}